/* button color - #ffd16d */

.school-logo {
  padding: 15px;
  width: 200px;
}

.dark-background {
  background-color: #252729;
}

.header {
  border-bottom: 3px solid #000;
}

.header-links{
  margin-top: 33px;
}

.header-links a{
  color: #fff;
  margin: 0px 7px;
  font-size: 1.1em;
  font-weight: 100;
}

.logout-button {
  background-color: transparent !important;
  border: none;
}

.home-checkin-div__btn {
  display: block;
  max-width: 200px;
  text-align: center;
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  padding: 10px;
}

.form-styling {
  background-color: #fff;
}

.form-div {
  margin-top: 10%;
}

.form-div h1 {
  font-size: 2em;
  padding: 15px 0;
}

.submit-button {
  margin: 15px 0;
  background-color: #ffd16d;
}

.home-checkin-div {
  height: 200px;
  border-bottom: 3px solid #000;
}

.home-checkin-div h1 {
  text-align: center;
  color: #fff;
  padding: 20px 0px;
  font-size: 2em;
}

div{
  color: white;
}

.form-div__title, .form-group__label{
  color: #000;
}

.login-section__error-div {
  color: #c0392b;
  padding: 20px 0px;
}

.form-group__input {
  margin-bottom: 25px;
}

.form-div__error {
  color: #c0392b;
  display: block;
}

