/* button color - #ffd16d */

.school-logo {
  padding: 15px;
  width: 200px;
}

.dark-background {
  background-color: #252729;
}

.header {
  border-bottom: 3px solid #000;
}

.header-links{
  margin-top: 33px;
}

.header-links a{
  color: #fff;
  margin: 0px 7px;
  font-size: 1.1em;
  font-weight: 100;
}

.logout-button {
  background-color: transparent !important;
  border: none;
}

.welcome-section {
  height: 160px;
  border-bottom: 3px solid #000;
  
}

.welcome-section__btn {
  
  width: 16%;
  text-align: center; 
  background-color: #ffd16d;
  color: #000;
  font-weight: 600;
  padding: 10px;
  margin-left: 42%;
}
.welcome-section__title {
  font-size: 1.5em;
  text-align: center;
  padding: 20px 0px;
}
.welcome-section--username {
  color: #ffd16d;
}

.welcome-section__authPannel {
  background-color: #fff;
  width: 30%;
  margin: 5% 35%;
  padding: 20px;
}


.form-styling {
  background-color: #fff;
  margin-bottom: 5%;
}

.form-div {
  margin-top: 5%;
}

.form-div h1 {
  font-size: 2em;
  padding: 15px 0;
}

.submit-button {
  margin: 15px 0;
  background-color: #ffd16d;
}


div{
  color: white;
}

.form-div__title, .form-group__label, .login-section__span, .login-section__title{
  color: #000;
}

.login-section__links {
  color: #c0392b;
  font-weight: 600;
}

.login-section__links:hover {
  text-decoration: none;
  color: #252729;
}

.login-section__error-div {
  color: #c0392b;
  padding: 20px 0px;
}

.form-group__input {
  margin-bottom: 25px;
}

.form-div__error {
  color: #c0392b;
  display: block;
}

